div{
     display: flex; 
    background-color: gold;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;

    
}

table{
    margin: auto;
}
section{
    border: 5px dashed blue;
    background: yellow;
    text-align: center;
    margin: 4%;
}
.l1{
    width: 50px;
    display: inline-block;
}
           
   



